body{
	text-align: center;
	color: #000f08;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}


}
body *{
	margin: 0;
}



.oscuro{
	background: #000f08;
	color: #ffffff;
}

.oscuro a{
	color: #ffffff;
	text-decoration: none;
}

nav{
	text-align: left;
	padding: 1.25rem 4rem;
	
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin: 0 1em;
	vertical-align: middle;
}


.imagen{
	width: 67.813rem;
	height: 35.313rem;
	background-image: url(../img/simposio-vegan.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

}

.icono{
	width: 2rem;
}

.icono svg{
	fill: #ffffff
}

.texto {
	
	width: 67.813rem;
	height: 27.5rem;
	font-weight: 400;
	font-size: 1.563rem;
	text-align: left;
	vertical-align: center;
	padding: 4.563rem 26.125rem 4.563rem 26.125rem;

}

.texto2{
	width: 67.813rem;
	height: 27.5rem;
	font-weight: 400;
	font-size: 1.563rem;
	text-align: left;
	vertical-align: center;
	padding: 4.563rem 26.125rem 4.563rem 26.125rem;

}

article{
	margin-bottom: 5px
}

